{% extends 'base/base.html' %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l12">
        <h4>Filtrar por:</h4>
        <form method="get">
            <p>
                numero anio: &nbsp{{ filter.form.numero_anio }} &nbsp
                estimacion : &nbsp {{ filter.form.estimacion }} &nbsp;&nbsp;
                <button class="btn blue" type="submit">Filtrar</button>
            </p>
        </form>
        <table class="striped">
	        <thead>
		        <tr>
                    <td>Numero Anio</td>
			        <td>Estimacion</td>
			        <td>id producto</td>
                </tr>
            </thead>
            <tbody>
            {% if filter.qs %}
                {% for estimacion_crecimiento_anual in filter.qs %}
		        <tr>
			       <td>{{ estimacion_crecimiento_anual.numero_anio }}</td>
			        <td>{{ estimacion_crecimiento_anual.estimacion }}</td>
			        <td>{{ estimacion_crecimiento_anual.producto_servicio_id_producto }}</td>
			        <td>
				        <a class="btn" href="{% url 'estimacion:estimacion_mostrar' estimacion_crecimiento_anual.numero_anio %}"><i class="material-icons">zoom_in</i></a>
                        <a class="btn blue" href="{% url 'estimacion:estimacion_editar' estimacion_crecimiento_anual.numero_anio %}"><i class="material-icons">create</i></a>
                        <a class="btn red" href="{% url 'estimacion:estimacion_eliminar' estimacion_crecimiento_anual.numero_anio %}"><i class="material-icons">delete</i></a>
			        </td>
		        </tr>
		        {% endfor %}

                {% else %}
		            <h1>No hay registros</h1>
		        {% endif %}
            </tbody>
        </table>
    </div>
</div>
    <div class="row">
        <div class="col s12 m12 l12">
            <ul class="pagination center">
	            <li>
		        {% if page_obj.has_previous %}
       	            <a class="btn blue" href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">navigate_before</i></a>
		        {% endif %}
                </li>
	            <li>
		        {% if page_obj.has_next %}
     	            <a class="btn red" href="?page={{ page_obj.next_page_number }}"><i class="material-icons">navigate_next</i></a>
    	        {% endif %}
                </li>
            </ul>
        </div>
    </div>

{% endblock%}