{% extends 'base/base.html' %}

{% block content %}
    <div class="row">
        <div class="col s12 m12 l12">
            <form method="post">
                {% csrf_token %}
                <h3>¿Desea eliminar el registro con la suscripcion {{ object.id_suscripcion }}?</h3>
                <button class="btn btn-danger" type="submit">Sí, eliminar</button>
                <a class= "btn btn-default" href="{% url 'estimacion_servicios:estimacion_servicio_listar' %}">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}