{% extends 'base/base.html' %}
{% block content %}
<div class="row">
    <div class="col s12 m12 l12">
        <p><strong>suscripcion: </strong>{{ object.id_suscripcion }} </p>
        <p><strong>unidad de produccion: </strong>{{ object.unidad_produccion }} </p>
        <p><strong>total de suscripciones: </strong>{{ object.total_suscripciones }} </p>
        <p><strong>total mensual: </strong>{{ object.total_mensual }} </p>
        <p><strong>producto servicio: </strong>{{ object.producto_servicio_id_producto }} </p>

        <a class= "btn" href="{% url 'estimacion_servicios:estimacion_servicio_listar' %}">Ok</a>
        <a class= "btn blue" href="{% url 'estimacion_servicios:estimacion_servicio_editar' object.id_suscripcion%}"><i class="material-icons">create</i></a>
        <a class= "btn red" href="{% url 'estimacion_servicios:estimacion_servicio_eliminar' object.unidad_produccion %}"><i class="material-icons">delete</i></a>
    </div>
</div>


{% endblock %}

