{% extends 'base/base.html' %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l12">
        <table class="table-bordered">
	        <thead>
		        <tr>
			        <td>id_suscripcion</td>
			        <td>unidad_produccion</td>
			        <td>total_suscripciones</td>
                    <td>total_mensual</td>
			        <td>producto_servicio</td>

                </tr>
            </thead>
            <tbody>
		        {% if object_list %}
		        {% for estimacion_servicios in object_list %}
		        <tr>
			        <td>{{ estimacion_servicios.id_suscripcion }}</td>
			        <td>{{ estimacion_servicios.unidad_produccion }}</td>
			        <td>{{ estimacion_servicios.total_suscripciones }}</td>
			        <td>{{ estimacion_servicios.total_mensual }}</td>

			        <td>
                        <a class="btn blue" href="{% url 'estimacion_servicios:estimacion_servicio_editar' estimacion_servicios.id_suscripcion %}"><i class="material-icons">create</i></a>
                        <a class="btn red" href="{% url 'estimacion_servicios:estimacion_servicio_eliminar' estimacion_servicios.id_suscripcion %}"><i class="material-icons">delete</i></a>
			        </td>
		        </tr>
		        {% endfor %}

                {% else %}
		            <h1>No hay registros de estimacion de servicios</h1>
		        {% endif %}
            </tbody>
        </table>
    </div>
</div>
    <div class="row">
        <div class="col s12 m12 l12">
            <ul class="pagination">
	            <li>
		        {% if page_obj.has_previous %}
       	            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		        {% endif %}
                </li>
	            <li>
		        {% if page_obj.has_next %}
     	            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    	        {% endif %}
                </li>
            </ul>
        </div>
    </div>

{% endblock%}