{% extends 'base/base.html' %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l12">
        <h4>Filtrar por:</h4>
        <form method="get">
            <p>
                idtipoGasto : &nbsp{{ filter.form.idtipoGasto }} &nbsp
                concepto: &nbsp {{ filter.form.concepto }}  &nbsp;




                <button class="btn blue" type="submit">Filtrar</button>
            </p>
        </form>
        <table class="striped">
	        <thead>
		        <tr>
			        <td> idtipoGasto </td>
			        <td> concepto </td>


                </tr>
            </thead>
            <tbody>
            {% if filter.qs %}
                {% for tipoGastoOperativo  in filter.qs %}
		        <tr>
			        <td>{{ tipoGastoOperativo.idtipoGasto }}</td>
			        <td>{{ tipoGastoOperativo.concepto }}</td>

			        <td>

				        <a class="btn" href="{% url 'tipoGastoOperativo:tipoGastoOperativo_mostrar' tipoGastoOperativo.idtipoGasto %}"><i class="material-icons">zoom_in</i></a>
                        <a class="btn blue" href="{% url 'tipoGastoOperativo:tipoGastoOperativo_editar' tipoGastoOperativo.idtipoGasto %}"><i class="material-icons">create</i></a>
                        <a class="btn red" href="{% url 'tipoGastoOperativo:tipoGastoOperativo_eliminar' tipoGastoOperativo.idtipoGasto %}"><i class="material-icons">delete</i></a>
			        </td>
		        </tr>
		        {% endfor %}

                {% else %}
		            <h1>No hay registros de tipo de gasto operativo</h1>
		        {% endif %}
            </tbody>
        </table>
    </div>
</div>
    <div class="row">
        <div class="col s12 m12 l12">
            <ul class="pagination center">
	            <li>
		        {% if page_obj.has_previous %}
       	            <a class="btn blue" href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">navigate_before</i></a>
		        {% endif %}
                </li>
	            <li>
		        {% if page_obj.has_next %}
     	            <a class="btn red" href="?page={{ page_obj.next_page_number }}"><i class="material-icons">navigate_next</i></a>
    	        {% endif %}
                </li>
            </ul>
        </div>
    </div>

{% endblock%}